article.post
  a:hover
    text-decoration: none
  margin-bottom: 1em
  padding: 1em 0
  border-bottom: 1px solid lightblue
  
  img
    max-width: 100%
    margin-bottom: 2em
    padding-top: 1em

  h1, h2
    margin-bottom: 0
    
  section.post-summary
    padding: .5em 0



  .thumb
    float: left
    margin-right: 1em
    margin-bottom: 1em

.editor
    min-height: 300px